.toggle-video{display: none;margin: 0 auto 20px;border-radius: 30px;}
.toggle-video--active{display: block;}

.toggle{
  display: inline;
  font-size: 18px;
  color: gray;
}
.toggler{
  display: none;
  width: 700px;
  /* width: 100%; */
  padding: 15px 10px;
  margin: 0 auto;
  /* border: 1px solid black; */
  border-radius: 0 0 30px 30px;
  border-radius: 30px;
  box-shadow:  20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;

  text-align: center;
  background: rgba(236, 236, 236, .5);
}
.toggler-card__varsAndTypes--active {display: block;}
.toggler-card__objects--active {display: block;}

.toggler--active{display: block;}
.toggler-expressions--active{display: block;}
.toggler-vars--active{display: block;}
.toggler-primitive--active{display: block;}
.toggler-typelink--active{display: block;}
.toggler-dynamic--active{display: block;}
.toggler-objects--active{display: block;}